.wrapper {
  display: flex;
    flex-direction: column;
  height: 100%;
}
.container{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}