$content-border-color: #E6EBF0;
$content-border: 1px solid $content-border-color;

$secondary-text-color: #7B8395;
$secondary-font-size: 12px;
$secondary-font-weight: 500;

$table-text-color: #000;
$table-font-size: 13px;
$table-font-weight: normal;

$main-text-color: #000;
$main-font-size: 14px;
$main-font-weight: 500;

$block-box-shadow: inset 0px -1px 0px rgba(150, 150, 150, 0.25);
